body{
    text-align: center;
    padding-top: 17%;
}
#myh1{
    color:blueviolet;
    font-size: 5em;
}
#myrst, #mydec, #myinc {
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.3s ease;
    background-color: rgb(104, 104, 235);
    padding: 3px;
}
#myrst:hover {
    border-color: blue;
    background-color: lightblue;
    color: white;
}
#mydec:hover {
    border-color: red;
    background-color: pink;
    color: white;
}
#myinc:hover {
    border-color: green;
    background-color: lightgreen;
    color: white;
}